{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "jest"
  ],
  "env": {
     "node": true,
     "es6": true,
     "jest": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": 0
  }
}
